In [1]:
import pandas as pd

In [21]:
ex_Tier_1 = pd.read_excel(r'/www/yang/csv/end_Tier_1.xlsx')
ex_Tier_3 = pd.read_excel(r'/www/yang/csv/end_Tier_3.xlsx')

In [4]:
ex_Tier_1.Sequence

0     MRVKG-ILRNYQQW--------WIW--------SI---LGFW--ML...
1     MRVRG-ILRNYQQW--------WMW--------GV---LGFW--ML...
2     MRVRG-ILRNWQLW--------WTW--------GI---LGFW--MV...
3     MRVMG-SMRNCQRW--------WIW--------GI---LGFW--ML...
4     MRVRG-IRRNYQHW--------WIW--------GI---LGFW--ML...
                            ...
70    MRVRG-ILRNWQQW--------WIW--------GI---LGFW--ML...
71    MRVKG-ILRNWPQW--------WIW--------SI---LGLW--LI...
72    MRVRG-ILKNYQQW--------WIW--------GI---LGFW--II...
73    MRVRG-ILKNYQQW--------WIW--------GI---LGFW--II...
74    MKVRG-ILRICQRW--------WIW--------GI---LGFW--MV...
Name: Sequence, Length: 75, dtype: object

In [5]:
ex_Tier_1.Sequence[0]

'MRVKG-ILRNYQQW--------WIW--------SI---LGFW--MLMN---CNVG----GNLWVTVYYGVPVWKEAK--TTLFCASDAKAYEKEVHNVWATHACVPTDPNPQEMVL---ENVTENFNMWENDVVDQMHEDVISLWDQSLKPCVKLTPLCVTLNCSKAK--------NITEEV---------------------------------------IKNNTYKEDIRNCSFNATTEV-KDKKQKVHALFYRLDIVPLNKRNSSESEEEN-------------------------SSGYYRLINCNTSAVTQACPKVTFDPIPIHYCTPAGYAI-LKCNEETFNGTGPCHNVSTVQCTHGIKPVVSTQLLLNGSLAE-GEIIIRSKNLTDNAKTIIVHLNQS-VEIVCTRPNENRR-KSIRI--GPGQ-AFYATG----DIIGDIRQARCNI-SEEKWNE-TLQRVGRKLAEHFP------NKT---IKFK---SS-S-GGDLEITTHSFNCRGE-FFY-CNTSGLFNGTYMPTYM--------------PNSTNSNSSSNITIPCRIKQVINMWQEVGRAMYAPPI-EGEITCKSNITGLLLVRDGG--------------NGNDTNKTEIFRPEGGDMRDNWRSELYKYKVVEIKPLGIAPTEAKRRVVE-----REKRA-VG-IG-AV-ILGFLGAAGSTMGAASITLTAQARQLLSGIVQQQSNLLKAIDAQQHLLQLTVWGIKQLQARVLAVERYLKDQQLLGIWGCSGKLICPTNVPWNSSWS---------NKSKEYIWN-NMTWMQWDGEISNYTDIIYGLLEDSQIQQEKNEKDLLTLDSWKNLWNWFDITKWLWYIKIFIMIVGGLIGLRIIFAVLSIVNRVRQGYSPLSFQTLIPN-PRG-PDRLGRIEEEGGEQDRDR--SVRLVNGFLALAWDDLRNLCL-FSYHRLRDFILVAARVVELLGRNSLTGLQKGWEALKYLGSLVQYWGLKLKKSAVSLLDTIAIAVAEGTDRI-IELGQRIWRAICNIPRRIRQGFEAALQ-*'

In [22]:
df1 = pd.DataFrame(ex_Tier_1.Sequence)
df3 = pd.DataFrame(ex_Tier_3.Sequence)

In [46]:
test1 = df1.replace('-','',regex=True)
test3 = df3.replace('-','',regex=True)

In [34]:
# test1.replace('*','',regex=True)

In [24]:
test1

                                             Sequence
0   MRVKGILRNYQQWWIWSILGFWMLMNCNVGGNLWVTVYYGVPVWKE...
1   MRVRGILRNYQQWWMWGVLGFWMLMICNGVENLWVTVYYGVPVWKE...
2   MRVRGILRNWQLWWTWGILGFWMVMNCNVRGNLWVTVYYGVPVWKE...
3   MRVMGSMRNCQRWWIWGILGFWMLMTCNMEEDLWVTVYYGVPVWRE...
4   MRVRGIRRNYQHWWIWGILGFWMLMICKGGREDLWVTVYYGVPVWK...
..                                                ...
70  MRVRGILRNWQQWWIWGILGFWMLMIYNVAGNKWVTVYYGVPVWKE...
71  MRVKGILRNWPQWWIWSILGLWLICRVVGNMWVTVHYGVPVWQDAK...
72  MRVRGILKNYQQWWIWGILGFWIINLVGGNLWVTVYYGVPVWRDAN...
73  MRVRGILKNYQQWWIWGILGFWIINLVGGNLWVTVYYGVPVWRDAN...
74  MKVRGILRICQRWWIWGILGFWMVMICNVVVGNLWVTVYYGVPVWK...

[75 rows x 1 columns]

In [25]:
test3

                                              Sequence
0    MRVRGILRNYQHWWIWSFLGLWMLINCNGDNLWVTVYYGVPVWKEA...
1    MRVTGTQRNCQQWWIWIWIILGFWWMLMMCKGEKLWVTVYYGVPVW...
2    MRVKGILRNWQQRWIWGILGFWMLMICRVLGEELWVTVYYGVPVWK...
3    MRVKGIRKNCQHLWIWGTMLLGILMICSATENLWVTVYYGVPVWKE...
4    MRARGIQRNWQQWWIWGILGFWTVMICNVMGNLWVTVYYGVPVWKD...
..                                                 ...
102  MKVTGTRKNCLWRWGTMLLGMLMICNATGNLWVTVYYGVPVWKEAT...
103  MKVTGTRKNCLWRWGTLLLGMLMICNATGNLWVTVYYGVPVWKEAT...
104  MKVTGTRKNCLWRWGTLLLGMLMICNATGNLWVTVYYGVPVWKEAT...
105  MKVTGTRKNCLWRWGTLLLGMLMICNATGNLWVTVYYGVPVWKEAT...
106  MKVTGMPRNWPQWWIWGILGFWMIIMCRVVGNLWVTVYYGVPVWKE...

[107 rows x 1 columns]

In [26]:
test1.Sequence

0     MRVKGILRNYQQWWIWSILGFWMLMNCNVGGNLWVTVYYGVPVWKE...
1     MRVRGILRNYQQWWMWGVLGFWMLMICNGVENLWVTVYYGVPVWKE...
2     MRVRGILRNWQLWWTWGILGFWMVMNCNVRGNLWVTVYYGVPVWKE...
3     MRVMGSMRNCQRWWIWGILGFWMLMTCNMEEDLWVTVYYGVPVWRE...
4     MRVRGIRRNYQHWWIWGILGFWMLMICKGGREDLWVTVYYGVPVWK...
                            ...
70    MRVRGILRNWQQWWIWGILGFWMLMIYNVAGNKWVTVYYGVPVWKE...
71    MRVKGILRNWPQWWIWSILGLWLICRVVGNMWVTVHYGVPVWQDAK...
72    MRVRGILKNYQQWWIWGILGFWIINLVGGNLWVTVYYGVPVWRDAN...
73    MRVRGILKNYQQWWIWGILGFWIINLVGGNLWVTVYYGVPVWRDAN...
74    MKVRGILRICQRWWIWGILGFWMVMICNVVVGNLWVTVYYGVPVWK...
Name: Sequence, Length: 75, dtype: object

In [50]:
rm_Sequence1 = [] 
rm_Sequence3 = [] 

for i in range(0,75):
    rm_Sequence1.append(test1.Sequence[i][:-1])
for i in range(0,107):
    rm_Sequence3.append(test3.Sequence[i][:-1])

In [51]:
ex_Tier_1.name

0      C.IN.2000.0013095_2_11.EF117267
1       C.IN.2000.001428_2_42.EF117266
2       C.TZ.2004.0041_V3_C18.HM215253
3       C.TZ.2003.0077_V1_C16.HM215254
4         C.IN.2000.00836_2_5.EF117265
                    ...
70     C.ZA.2007.704010069_C6.KC894114
71     C.ZA.2007.704010083_B8.FJ443671
72    C.ZA.2007.704809221_1B3.FJ444103
73    C.ZA.2007.704809221_1B3.FJ444103
74    C.ZA.2007.704810053_2B7.KC894119
Name: name, Length: 75, dtype: object

In [53]:
data1 = [ex_Tier_1.name,ex_Tier_1.Tier,rm_Sequence1]
data3 = [ex_Tier_3.name,ex_Tier_3.Tier,rm_Sequence3]

dfData1 = { # 用字典设置DataFrame所需数据
        'name':data1[0],
        'Tier':data1[1],
        'Sequence':data1[2]
    }
dfData3 = { 
        'name':data3[0],
        'Tier':data3[1],
        'Sequence':data3[2]
    }

df1 = pd.DataFrame(dfData1) # 创建DataFrame
df3 = pd.DataFrame(dfData3)

# df.to_excel('/www/yang/csv/test.xlsx',index=False) # 存表，去除原始索引列（0,1,2...）
df1.to_excel('/www/yang/csv/rm_end_Tier_1.xlsx',index=False) # 存表，去除原始索引列（0,1,2...）
df3.to_excel('/www/yang/csv/rm_end_Tier_3.xlsx',index=False) # 存表，去除原始索引列（0,1,2...）